* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/*  로딩 이미지 css  */
#loading {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.sk-folding-cube {
    margin: 20px auto;
    width: 50px;
    height: 50px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E6F4E1;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    -ms-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s; 
    animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px)   rotateX(-180deg);
        -ms-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        -ms-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 90%, 100% {
        -webkit-transform: perspective(140px)   rotateY(180deg);
        -ms-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    } 
}
@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        -ms-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        -ms-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        -ms-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    }
}
/** 로딩 이미지 종료 **/

#logo {
    width: 30%;
    background-image: url('../img/logo.png');
    background-position: center;
    background-size: cover;
    margin: auto;
    margin-top: -7%;
}

.wrapBackground{
    position: absolute;
    z-index: -1;
    top: 200px;
    left: 2.5%;
    width: 95%;
    padding-bottom: 62.5%;
    background-color: #E6F4E1;
}

.panel-group{
    padding: 0 10%;
}

.panel-heading{
    background-image: none !important;
    background-color: #C0D8B6 !important;
    text-align: center;
    cursor: pointer;
}

#divTitle{
    color: #AF8B9A;
    padding: 2% 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.plus{
    float: right;
    margin: 4px 4px;
    width: 13px;
    height: 13px;
}

.fotorama__wrap {
    margin: 0 auto;
}

#map{
    width:90%;
    margin: auto;
    padding-bottom: 56.25%;
}

.mapInfo{
    text-align: center;
    margin: 5% 10%;
}

.divInfoname{
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 3px;
}

.divInfotext{
    padding: 0px 15px;
}

.divInfotext:last-child{
    padding-bottom: 15px;
}

.share{
    width: 100%;
    padding: 0px 10%;
    text-align: right;
}
.facebookShareImg{
    width: 10%;
    margin: 2%;
}
/*  네비게이션 버튼*/
.navBtn {
    width: 48px;
    height: 48px;
    border-radius: 35px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    background-position: center;
    background-size: cover;
    z-index: 2;
}
#menuBtn {
    background-image: url('../img/iconMenu.png');
}
#backBtn {
    background-image: url('../img/iconPrev.png');
}
#likeBtn {
    background-image: url('../img/iconHeart.png');
}
#homeBtn {
    background-image: url('../img/iconHome.png');
}
/* 네비게이션 끝 */